<!DOCTYPE html>
<html>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{- partial "head.html" . -}}
    <body onload="sommaireOpen()">
        {{- partial "aside.html" . -}}
        <main id="main">
            <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
            <div class="content">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
            {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
                <a href="javascript:void(0)" id="closebtnsommaire" onclick="navToggleSommaire()"><i class="fas fa-bars fa-lg"></i></a>
            {{ end }}
        </main>
        {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
            <aside id="sommaire" class="right">
                <header>Sommaire</header>
                <div>
                    {{ template "toc" . }} <!-- Table of Contents -->
                </div>
            </aside>
        {{ end }}
    </body>
</html>
