{{ define "main" }}
    <div class="section">
        <dev class="section-title">{{.Section}}</dev>
        {{ .Content }}
        <div class="two-column-list">
            {{ $sortedPages := sort .Paginator.Pages ".Date" "desc" }}
            {{ range $index, $element := $sortedPages }}
                <div class="list-item">
                    <a class="entry-title" href="{{ .Permalink }}">{{ .Title }}</a>
                    {{$page := .}}
                    {{with .Description}}
                    <p>{{.}}</p>
                    {{end}}
                    <div class="meta">
                    {{with .Date}}
                        <i class="far fa-calendar-alt"></i> {{.Format "2 Jan 2006"}}
                    {{end}}
                    <br>
                    {{with .Params.tags}}
                            <i class="fas fa-tags"></i> 
                            Tags: {{ delimit . ", " }}
                    {{end}}
                    </div>
                </div>
            {{end}}
        </div>
    </div>
    {{ partial "pagination.html" $ }}
{{end}}
{{ define "toc" }}
    {{ partial "toc" . }}
{{ end }}