{{ define "main" }}
    {{ with .Date }}
        <date-article> <i class="far fa-calendar-alt"></i> Créé le {{ .Format "2006-01-02" }}</date-article>
    {{ end }}
    {{with .Title}}
    <h1 id="title">{{.}}</h1>
    {{else}}
    <div class="spacer"></div>
    {{end}}
    {{ with .Params.githubrepo}}
       github repository : <a href="{{.}}">{{.}}</a>
    {{end}}  
    {{.Content}}
    {{ if .Page.Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
    {{ end }}
    {{if ne .Section ""}}
    <div class="nav-next-prev">
        <div class="nav-prev">
            {{with .PrevInSection}}
                <a href="{{.Permalink}}"><i class="fas fa-chevron-left"></i></a>
            {{else}}
                <a class="grayed-out" href="javascript:void()"><i class="fas fa-chevron-left"></i></a>
            {{end}}
        </div>
        <a class="nav-top" href="#">top</i></a>
        <div class="nav-next">
            {{with .NextInSection}}
                <a href="{{.Permalink}}"><i class="fas fa-chevron-right"></i></a>
            {{else}}
                <a class="grayed-out" href="javascript:void()"><i class="fas fa-chevron-right"></i></a>
            {{end}}
        </div>
    </div>
    {{end}}
{{end}}
{{ define "toc" }}
    {{ partial "toc" . }}
{{ end }}