{{with .Site.Params.formspreeID}}
<form class="contact-form"
action="https://formspree.io/{{.}}"
method="POST"
>

<input id="name" type="text" name="name" placeholder="Name"> 
<input id="mail" type="text" name="_replyto" placeholder="Mail">
<textarea id="message" name="message" placeholder="Message"></textarea>
<button class="reach-me-send" type="submit">Envoyer</button>

</form>
<img src="{{ "img/moi_vacances_humides.webp" | absURL }}" width="80%" class="centrer">
{{end}}