{{ $size := or .Attributes.size "" }}
{{ $caption := or .Attributes.caption "" }}
{{ $class := or .Attributes.class "diagram" }}
{{ $id := or .Attributes.id (printf "diagram-%d" (add 1 .Ordinal)) }}

<figure id="{{ $id }}">
    {{ with diagrams.Goat (trim .Inner "\n\r") }}
        <svg class="{{ $class }}" width="{{ .Width }}" height="{{ .Height }}" viewBox="0 0 {{ .Width }} {{ .Height }}" xmlns="http://www.w3.org/2000/svg" version="1.1"  font-family="'Segoe UI','Noto Sans',Helvetica,Arial,sans-serif">
        {{ .Inner }}
        </svg>
    {{ end }}
  <figcaption>{{ $caption }}</figcaption>
</figure>