* {
    scrollbar-color: #2a2c2e #1c1e1f;
}

::-webkit-scrollbar {
    background-color: #1C1E1F;
}

::-webkit-scrollbar-thumb{
    background-color: #2A2C2E;
}

::-webkit-scrollbar-corner {
    background-color: rgb(24, 24, 24);
}

html, body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 17px;
    line-height: 1.6;
    height: 100%;
    margin: 0px;
    background-color:#1A1C1D;
    color : #D8D6D0;
}

a {
    text-decoration: none;
    color: #389DFF;
}

a:hover {
    text-decoration: underline;
}

aside {
    background-color:rgb(68, 65, 73);
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #737373;
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

aside a {
    color:rgb(238, 238, 238);
}

aside i[class^="fa"]{
    padding: 0em 0.4em 0em 0em;
}

aside header {
    background-color:#593b63;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #3D3D3D;
}

aside header img{
    margin-top: 20px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 5px;

}

aside a:hover {
    text-decoration: none;
}

aside nav {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px 0px;
    margin: 0px;
}

aside nav a {
    padding: 2px 0%;
    width: 100%;
    min-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-align: center;
    text-wrap: pretty;
    transition: 0.2s;
}

aside nav a:hover {
    background-color:rgb(48, 75, 102);
}

aside.right {
    background-color: rgb(68, 65, 73);
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: unset;
    right: 0; /* Utilisez "right" au lieu de "left" pour positionner à droite */
    overflow-y: auto;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    border-right: unset;
    border-left: 1px solid #737373; /* Utilisez "border-left" au lieu de "border-right" */
    transition: 0.3s;
    position: fixed;
}

aside ul{
    padding-left: 2em;
}

/* Appliquer le style aux liens du nouveau panneau */
aside.right a {
    color: rgb(238, 238, 238);
}

/* Appliquer le style à l'en-tête du nouveau panneau */
aside.right header {
    background-color: #593b63;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #3D3D3D;
}

/* Appliquer le style à l'image dans l'en-tête du nouveau panneau */
aside.right header img {
    margin-top: 20px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 5px;
}

/* Appliquer le style aux liens de navigation du nouveau panneau */
aside.right nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0px;
    flex: 0 0 16rem;
    font-size: 0.8rem;
}

aside.right nav a {
    padding: 5px 0%;
    width: 100%;
    min-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-align: center;
    transition: 0.2s;
    text-wrap: pretty;
}

/* Appliquer le style au survol des liens de navigation du nouveau panneau */
aside.right nav a:hover {
    background-color: rgb(48, 75, 102);
}

#branding {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(188, 188, 196);
}

#npq{
    color: rgb(119, 125, 143); 
}

#closebtn {
    transition: 0.3s;
    border-radius: 7px;
    position: fixed;
    left: 200px;
    top: 0px;
    padding: 10px;
    color:rgba(238, 238, 238, 0.664);   
    background-color: rgba(61, 61, 61, 0.555);
}

#closebtnsommaire {
    transition: 0.3s;
    border-radius: 7px;
    position: fixed;
    right: 200px;
    top: 0px;
    padding: 10px;
    color:rgba(238, 238, 238, 0.664);   
    background-color: rgba(61, 61, 61, 0.555);
}

.entry-title {
    font-size: large;
    font-weight: bold;
}


.meta {
   color: rgb(156, 151, 143);
   font-size: small;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding: 0px;
    height: 100%;
    transition: 0.3s; 
}

#random-meme{
    font-size: 20px;
}

date-article {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #000000;
    background-color: #3a3939;
    padding: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #949494;
    text-align: center;
    display: block;
    margin-left: auto;
    float: right;
}

button{
    padding: 15px 32px;
    border: none;
    margin: 5px;
    font-size: 16px;
    color: white;  
}

.button-red {
    background-color: #AD1810;
}

.button-green {
    background-color: #206D38;
}

.content {
    width : 90%;
    margin:0px auto auto auto;
    word-break: break-word;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid rgb(97, 96, 96);
}

th, td {
    padding: 5px 10px;
    font-size: small;
}

th {
    background-color: rgb(48, 75, 102);
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: rgb(70, 69, 69);
}

h1, h2, h3, .section-title{
    border-bottom: 1px solid #3D3D3D;
}

#title {
    text-align: center;
    margin: 20px;
    padding-bottom: 5px;
}
.spacer{
    height: 50px;
}

pre {
    overflow: auto;
    background-color: #2C2F30;
    font-size: 16px;
    padding: 5px;
}

img {
    max-width: 100%;
}

img[src$='#centrer']
{
    display: block;
    margin: 0.7rem auto;
}

img[src$='#gauche']
{
    float:left;
    margin: 0.4rem;
}

img[src$='#droite']
{
    float:right;
    margin: 0.4rem;
}

.droite {
    float:right;
    max-width: 40%;
    margin: 0.4rem;
}

.gauche {
    float:left;
    max-width: 40%;
    margin: 0.4rem;
}

.centrer {
    display: block;
    margin: 0.5rem auto;
    text-align: center;
}

blockquote {
    border-left: 10px solid #2C2C2C;
    padding-left: 10px;
    background-color: #2c2c2c8f;
}

.content p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
}

.pinned {
    color: #EAD94C;
}

.posts {
    border: 1px solid #3D3D3D;
}

.post {
    padding: 10px;
}

.post+.post {
    border-top: 1px solid #3D3D3D;
}


.post p{
    margin:4px 0px;
}

.post-stars{
    font-size: small;
}

.post-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.flex-child {
    flex: 1 2 50%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.flex-child:hover {
    background-color: #3f3f3f;
}

.flex-child a {
    display: flex;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.flex-child a:hover {
    text-decoration: underline;
}

.two-column-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item {
    width: 44%; 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #411b42;
    border-radius: 3px;
    padding: 10px;
    background-color:rgb(86, 40, 104);
    transition: background-color 0.3s;
}

.list-item:hover {
    background-color: rgb(143, 85, 167); 
}

.list-item p {
    margin: 5px 0px;
}
.list-item a:hover {
    color: #389DFF;
}

.list-item a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.center{
    display: block;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: auto;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-title{
    margin: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

.nav-next-prev {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #3D3D3D;
}

ul.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #3D3D3D;
}

.nav-top:hover{
   text-decoration: none;
}

.grayed-out {
    color: rgb(70, 69, 69) ;
}

footer{
    padding: 30px;
    margin-top: 40px;
    border-top: 1px solid #3D3D3D;
    background-color:rgb(30, 34, 39) ;
}

.footer-content{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright{
    text-align: center;
}

.contact-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    flex-direction: column;
    /* background-color:#1C1E1F; */
    align-items: flex-start;
    border-radius: 3px;
    padding: 10px;
}

.contact-form input, .contact-form button, .contact-form textarea {
    color : #D8D6D0;
    background-color:#181A1B ;
    border-radius: 3px;
    border: 1px solid #3D3D3D;
    padding: 10px;
    margin: 10px;
    height: 30px;
    width: 70%;
}

.contact-form textarea {
    height: 200px;
    width: 70%;
}

.contact-form button{
    padding: 15px 32px;
    height: auto;
    width: auto;
}

.mermaid{
    display: flex;
    justify-content: center;
    background-color: #332e35;
    padding: 1%;
    margin:30px 0 0 0;
    border-radius: 4px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goat {
    background-color: #332e35;
    padding: 1%;
    margin:30px 0 0 0;
    border-radius: 4px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goat > svg {
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif;
    font-size: medium;
  }
  
figcaption{
    display: flex;
    justify-content: center;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif;
    font-size: small;
    color: #949494;
    padding-left: 1%;
}

/* .footer-phone{
    margin-left: 20px;
}
.footer-mail{
    margin-right: 20px;

} */

@media only screen and (max-width: 768px){
    #sidenav {
        width: 0px;
    }
    #sommaire {
        width: 0px;
    }
    #main {
        margin-left: 0px;
        margin-right: 0px;
    }
    #closebtn {
        left:0px;
    }
    #closebtnsommaire {
        right:0px;
    }
    .content {
        width : 90%;
        margin:0px auto auto auto;
    }

    .footer-content{
        flex-direction: column;
    }

    .contact-info {
        flex-direction: row;
    }

}

@media only screen and (max-width: 1000px) {
    .footer-content{
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    .list-item {
        width: 100%;
    }
    
}
    
@media only screen and (max-width: 420px) {
    .contact-info{
        flex-direction: column;
        align-items: center;
    }

    .flex-child {
        flex-basis: 100%;
    }

}

@media only screen and (min-width: 1200px) {
    .content {
        width : 85%;
        margin: 0px auto auto auto;
    }

}