{{define "main"}}
<h1> Zut ! </h1>
<h3> tu cherches quelque choses ? </h3>
<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"><iframe src="https://giphy.com/embed/Gpf8A8aX2uWAg" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
{{end}}
{{ define "toc" }}
        {{ partial "toc" . }}
{{ end }}