{{define "main"}}
    {{if .Site.Params.displayHomeContent}}
        {{.Content}}
    {{end}}
    {{if ne .Site.Params.displayRecent false}}
    <div class="section"> 
        <div class="section-title"> Derniers articles </div> 
        <div class="two-column-list">
            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{range first 4 (where $pages "Section" "ne" .Site.Params.microBlogSection)}}
                <div class="list-item">
                    <a class="entry-title" href="{{ .Permalink }}">{{ .Title }}</a>
                    {{$page := .}}
                    {{with .Description}}
                    <p>{{.}}</p>
                    {{end}}
                    <div class="meta">
                    {{with .Date}}
                        <i class="far fa-calendar-alt"></i> {{.Format "2 Jan 2006"}}
                    {{end}}
                    <br>
                    {{with .Params.tags}}
                            <i class="fas fa-tags"></i> 
                            Tags: {{ delimit . ", " }}
                    {{end}}
                    </div>
                </div>
            {{end}}
        </div>
    </div>
    {{end}}

    {{if .Site.Params.displayMicroBlog}}
    <div class="section"> 
        <div class="section-title">De la lecture 📚</div> 
        <div class="posts flex-container">
            {{ $livres := where site.RegularPages "Type" "in" site.Params.microBlogSection }}
            {{range (where $livres "Params.pinned" true)}}
                <div class="post flex-child">
                    <div class="meta pinned"> <i class="fas fa-thumbtack"></i> épinglé </div>
                    <div class="post-content">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                    <div class="post-stars">
                        ⭐ {{.Params.stars}}/5 ⭐
                    </div>
                    <div class="meta"> {{.Description }} </div>
                    <div class="meta post-footer"> <span>{{.Date.Format "2 Jan 2006"}}</span></div>
                </div>
            {{ end }} 
            {{range first 4 (where $livres "Params.pinned" "ne" true)}}
                <div class="post flex-child">
                    {{if ne .Params.pinned nil}}
                        <div class="meta pinned"> <i class="fas fa-thumbtack"></i> épinglé </div>
                    {{end}}
                    <div class="post-content">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                    <div class="post-stars">
                        ⭐ {{.Params.stars}}/5 ⭐
                    </div>
                    <div class="meta"> {{.Description }} </div>
                    <div class="meta post-footer"> <span>{{.Date.Format "2 Jan 2006"}}</span></div>
                </div>
            {{ end }} 
        </div>
    </div>
    {{end}}
{{end }}
{{ define "toc" }}
    {{ partial "toc" . }}
{{ end }}