<footer>
<div class="footer-content">
{{if (or (isset .Site.Params "mail") (isset .Site.Params "phone") ) }}
  <div class="contact-info">
      {{with .Site.Params.mail}}
            <div class="footer-mail">
              <i class="far fa-envelope"></i> <a href="mailto:{{.}}">{{.}}</a> 
            </div>
            <div class="footer-mail">
              <i class="fab fab fa-gitlab"></i> <a href="https://gitlab.com/dedounet/MyResume">le code</a>
            </div>
            <div>
              <i class="fab fab fa-soundcloud"></i> <a href="https://soundcloud.com/404-unfound">le son</a>
            </div>
      {{end}}
      {{with .Site.Params.phone}}
      <div class="footer-phone">
          <i class="fas fa-phone"></i> {{.}} 
      </div>
      {{end}}
  </div>
{{end}}
{{with .Site.Copyright}}
<p class="copyright meta">{{.}}</p>
{{end}}
</div>
{{ if (findRE "<pre" .Content 1) }}
  {{ $jsCopy := resources.Get "js/copy-code-button.js" | minify }}
  <script src="{{ $jsCopy.RelPermalink }}"></script>
{{ end }}
</footer>