<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{with .Site.Params.description -}}
      <meta name="description" content="{{.}}">
    {{ end }}
    {{- with .Site.Params.author -}}
      <meta name="Author" content="{{.}}">
    {{ end }}
    {{- with .Site.Params.keywords -}}
      <meta name="keywords" content="{{.}}">
    {{ end -}}
    <link rel="stylesheet" href={{ "css/syntax.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/style.css" | absURL }}>
    {{ template "_internal/google_analytics.html" . }}
    <script src="https://kit.fontawesome.com/1b7478c139.js" crossorigin="anonymous"></script>
    <script src={{"js/navbutton.js" | absURL }}></script>
    {{ if (findRE "<pre" .Content 1) }}
      {{ $copyCss := resources.Get "css/copy-code-button.css" | minify }}
      <link href="{{ $copyCss.RelPermalink }}" rel="stylesheet">
    {{ end }}
    <title>{{ .Site.Title }}</title>
  </head>